// 默认值
$accentColor = #B27071                      // 主题颜色
$textColor = #2c3e50                       // 文本颜色
$borderColor = #000                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色
$backgroundColor = #f7f7f7                 // 悬浮块背景色
